profiles {

    common{ 

        singularity {
            enabled = true
            autoMounts = true
            runOptions = '--no-home'    // essential to prevent mounting
                                                // the local HOME and thus
                                                // pip doing stupid shit!
            cacheDir = '/home/l/.singularity/'
        }

        cache = 'lenient'

        trace.enabled       = true
        report.enabled      = true
        timeline.enabled    = true
        dag.enabled         = true
        trace.overwrite     = true
        report.overwrite    = true
        timeline.overwrite  = true
        dag.overwrite       = true
        trace.file          = "reports/nextflow_pipeline_trace.txt"
        report.file         = "reports/nextflow_pipeline_report.html"
        timeline.file       = "reports/nextflow_pipeline_timeline.html"
        dag.file            = "reports/nextflow_pipeline_dag.html"

    }


    blocky {

        executor {
            name = 'slurm'
            cpus = 36
            memory = '60GB'
        }

        process {

            executor = 'slurm'
            clusterOptions = '--propagate=ALL'

            withLabel: 'all_core' { cpus = 36 }
            withLabel: 'half_core' { cpus = 18 }
            withLabel: 'quarter_core' { cpus = 6 }
            withLabel: 'one_core' { cpus = 1 }

            withLabel: 'all_mem' { memory = '58G' }
            withLabel: 'half_mem' { memory = '28G' }
            withLabel: 'smol_mem' { memory = '2G' }

            withLabel: 'bioinfmunger' { container = 'docker://darachm/bioinf:bioinf-sam-bedtools-emboss-ncbi-ucsc-genometools-htslib'}
            withLabel: 'lh3aligners'  { container = 'docker://darachm/lh3-aligners:minimap2-bwa-bwamem2'}
            withLabel: 'itermae' { container = 'docker://darachm/itermae:plus' }
            withLabel: 'starcode' { container = 'docker://darachm/starcode:latest' }
            withLabel: 'medaka'  { container = 'docker://darachm/nanopore:medaka-hack' }
            withLabel: 'chopper'  { container = 'docker://darachm/nanopore:chopper' }
            withLabel: 'assemble'  { container = 'docker://darachm/flye:flye-miniasm-mash-muscle-r-pkg-mm-try-canu' }
            withLabel: 'racon'  { container = 'docker://darachm/nanopore:racon' }
            withLabel: 'kalign' { container = 'docker://darachm/kalign:bioinf-kalign' }
            withLabel: 'r' { container = 'docker://darachm/rr:r-4.3.1-tidy-db-viz-mod-bio' }
            withLabel: 'jbrowse' { container = 'docker://darachm/jbrowse:serve' }
            withLabel: 'plannotate' { container = 'docker://darachm/plannotate:latest' }


        }

        mail {
            smtp.host = 'localhost'
            smtp.port = 25
            smtp.user = 'darachm'
        }


    }

}




